.form {
  position: relative;
}

.form__list {
  @include list;

  &--column {
    margin-bottom: 24px;

    li {
      + li {
        margin-top: 8px;
      }
    }
  }

  &--row {
    display: flex;
    flex-wrap: wrap;

    @include until-tablet {
      display: block;
      width: 100%;
    }

    li {
      width: 250px;
      margin-right: 24px;
      margin-bottom: 8px;

      @include until-tablet {
        width: 100%;
      }
    }
  }
}

.form__field {
  position: relative;

  input {
    width: 100%;
    min-height: 59px;
    padding: 17px 40px;

    @include size-height(18px, 21px);
    font-weight: 500;
    color: rgba($dark, 0.87);
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 1.4px;

    border: 2px solid #e3e3e3;
    border-radius: 80px;

    &:focus {
      outline: none;

      border-color: transparent;
      background-origin: border-box;
      background-clip: padding-box, border-box;
      background-image: linear-gradient(white, white), $gradient-default;
    }

    &:invalid {
      border: 2px solid $invalid-color;

      + .form__invalid-message {
        display: block;
      }
    }

    &::placeholder {
      color: rgba($dark, 0.5);
    }
  }
}

.form__action-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 36px;

  @include until-tablet {
    @include pad-center(12px);
  }
}

.form__nda-field {
  order: 1;
  margin-top: 16px;

  @include size-height(13px, 19px);
  color: rgba($dark, 0.74);

  input {
    &:checked {
      + label {
        &::before {
          background-image: $gradient-default;
        }
      }
    }

    &:focus {
      + label {
        &::before {
          outline: 2px solid $yellow;
          outline-offset: 3px;
        }
      }
    }
  }

  label {
    position: relative;

    display: block;
    padding-left: 24px;

    cursor: pointer;

    @include until-tablet {
      text-align: left;
    }

    &::before {
      @include pseudo(absolute);
      top: 0;
      left: 0;

      display: block;
      width: 16px;
      height: 16px;

      border: 2px solid transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;
      background-image: linear-gradient(white, white), $gradient-default;
    }
  }
}

.form__button {
  width: 216px;

  @include until-tablet {
    width: 91.5%;
    margin-right: 10px;
    margin-left: 12px;
  }

  &--overlay {
    position: absolute;
    top: 0;
    right: 0;

    @include until-tablet {
      position: static;

      margin-top: 8px;
    }
  }

  &--flow {
    @include until-tablet {
      margin-top: 16px;
    }
  }
}

.form__invalid-message {
  position: absolute;
  top: 100%;
  left: 30px;

  display: none;

  @include size-height(13px, 19px);
  color: rgba($invalid-color, 0.75);

  &--mobile-top {
    @include until-tablet {
      top: auto;
      bottom: 100%;
    }
  }
}
