.header__container {
  position: relative;

  @include container(110px, 114px, 0, 0);
  padding-bottom: 237px;
  min-height: 855px;

  background-color: #e9e7e1;
  background-image: url("../img/bg-header-desktop@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;

  @include from-retina {
    background-image: url("../img/bg-header-desktop@2x.jpg");
  }

  @include until-full {
    background-size: auto 100%;
  }

  @include until-tablet {
    padding-bottom: 225px;
    min-height: 619px;

    background-image: url("../img/bg-header-mobile@1x.jpg");
    background-position: bottom center;
    background-size: auto 95%;

    @include from-retina {
      background-image: url("../img/bg-header-mobile@2x.jpg");
    }
  }

  &::after {
    @include pseudo(absolute);
    bottom: 7.6%;
    left: 50%;

    width: 76px;
    height: 162px;

    background-image: url("../img/bg-scroll@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;

    transform: translateX(-50%);

    @include from-retina {
      background-image: url("../img/bg-scroll@2x.png");
    }

    @include until-tablet {
      bottom: 6.7%;
    }
  }

  p {
    @include reset-m-p;
    @include center;
    padding-left: 6px;
    width: 352px;

    @include size-height(24px, 29px);
    font-weight: 700;
    text-align: center;
    text-shadow: 0 1px 4px rgba($black, 0.12);
    color: $white;

    @include until-tablet {
      @include pad-center(10px);
      margin: 0;
      width: 100%;

      @include size-height(20px, 24px);
    }
  }
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 455px;
  padding-top: 32px;

  @include size-height(15px, 18px);
  font-weight: 500;
  color: $dark;

  @include until-tablet {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 269px;
    max-height: 70px;

    @include size-height(14px, 17px);

    background-color: $white;
  }

  img {
    width: 137px;
    height: 48px;

    @include until-tablet {
      width: 120px;
      height: 42px;
    }
  }
}

.header__phone {
  color: inherit;
  text-decoration: none;

  @include until-tablet {
    order: 1;
    margin-bottom: 7px;
  }

  &:hover {
    @include from-desktop {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.header__call-button {
  margin-left: 20px;

  @include size-height(17px, 19px);
  font-weight: inherit;
  color: inherit;
  text-transform: lowercase;
  text-decoration: none;
  font-variant: small-caps;
  letter-spacing: 1px;

  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $dark;

  @include until-tablet {
    order: 2;
    margin-left: auto;

    font-size: 14px;
    letter-spacing: 1.7px;
  }

  &:hover {
    @include from-desktop {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.5;
  }
}
