.questions__container {
  @include container(110px, 110px);
  padding-top: 136px;
  padding-bottom: 127px;

  background-image: url("../img/bg-bag-desktop@1x.png"),
    url("../img/bg-people-2-desktop@1x.png"),
    url("../img/bg-questions-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: bottom left -42px, top 136px right, top 57px center;
  background-size: 194px auto, 47.21% auto, 100% auto;

  @include from-retina {
    background-image: url("../img/bg-bag-desktop@2x.png"),
      url("../img/bg-people-2-desktop@2x.png"),
      url("../img/bg-questions-desktop@2x.png");
  }

  @include until-tablet {
    padding-top: 50px;
    padding-bottom: 20px;

    background-image: url("../img/bg-bag-desktop@1x.png");
    background-position: bottom 84px left -48px;
    background-size: 194px auto;

    @include from-retina {
      background-image: url("../img/bg-bag-desktop@2x.png");
    }
  }

  h2 {
    @include headers;
    margin-bottom: 8px;

    @include until-tablet {
      margin-bottom: 1px;
    }
  }
}

.questions__list {
  @include list;
  counter-reset: questions;

  width: 48.8657%;

  @include until-tablet {
    width: 100%;
  }
}

.questions__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 39px 0 24px;
  min-height: 96px;

  border-bottom: 1px solid rgba($dark, 0.2);

  @include until-tablet {
    padding-top: 37px;
    padding-bottom: 17px;
    min-height: 86px;
  }

  h3 {
    @include text-big;
    width: 71.4286%;
    margin-right: auto;
    padding-left: 30px;

    font-weight: 400;
    line-height: 25px;
    color: $dark;

    @include until-tablet {
      width: 89%;
      padding-left: 25px;
    }
  }

  p {
    @include text-regular;
    display: none;
    width: 85.7143%;
    margin-top: 25px;

    line-height: 21px;
    color: rgba($dark, 0.74);

    @include until-tablet {
      width: 92%;
      margin-top: 18px;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    padding: 0;
    width: 25px;
    height: 25px;

    border: none;
    background: none;

    cursor: pointer;
    transform: rotate(90deg);

    @include until-tablet {
      margin-top: 3px;
      margin-right: 0;
      width: 18px;
      height: 23px;
    }

    &:hover {
      @include from-desktop {
        opacity: 0.7;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  svg {
    stroke: $blue;
  }

  &--show {
    padding-bottom: 30px;

    @include until-tablet {
      padding-bottom: 15px;
    }
    p {
      display: block;
    }

    button {
      transform: rotate(-90deg);
    }
  }

  &::before {
    @include pseudo(absolute, counter(questions));
    counter-increment: questions;

    top: 24px;
    left: 0;

    @include size-height(28px, 48px);
    font-weight: 700;
    color: $yellow;
  }
}
