*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: $mobile-width;

  font-family: $fira-font-stack;
  color: rgba($dark, 0.87);

  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}
