$fira-font-stack: "Fira Sans", "Arial Narrow", "Arial", sans-serif;
$montserrat-font-stack: "Montserrat", "Arial Narrow", "Arial", sans-serif;
$raleway-font-stack: "Raleway", "Arial Narrow", "Arial", sans-serif;
$white: #ffffff;
$black: #000000;
$dark: #484848;
$blue: #1fc0fc;
$yellow: #ffc341;
$yellow-to: #ffd701;
$gradient-default: linear-gradient(142.39deg, $yellow 20.46%, $yellow-to 65.31%);
$gradient-hover: linear-gradient(143.55deg, $yellow -50.3%, $yellow-to 63.1%);
$gradient-active: radial-gradient(150% 119.49% at 50% 50.85%, rgba($black, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, $yellow -50.3%, $yellow-to 63.1%);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$full-width: 1366px;
$retina: 1.5dppx;

$screen-padding: 110px;
$screen-padding-mob: 16px;
